.mainblog {
    padding-top: 10px;
    .mainblog__section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .card {
            padding: 5px;
            background-color: $color-main2;
            margin-bottom: 30px;
            width: 23% !important;
            .card-text {
                font-size: calc(0.8125rem + 0.46728971962vw) !important;
            }
            @include transition-05
        }
    }
    .alert {
        margin-bottom: 0;
    }
}
@media (max-width: $media8) {
    .mainblog .mainblog__section .card {
        width: 30.6666666667% !important;
    }
}
@media (max-width: $media5) {
    .mainblog .mainblog__section .card {
        width: 46% !important;
    }
}