.main-contacto {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    h1 {
        border-bottom: #2E0014 2px solid;
        font-size: calc(1rem + 1.4953271028vw);
        font-weight: 500;
        width: 100%;
    }
    h2 {
        width: 75%;
        text-align: center;
        font-size: calc(0.8125rem + 1.02803738318vw);
        font-weight: 500;
    }
    .form-contacto {
        display: flex;
        flex-direction: row;
        width: 60%;
        background-color: $color-main2;
        border: #79786f 1px solid;
        border-radius: 10px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        margin-top: 30px;
        .input-contacto {
            height: 31px;
            width: 46%;
            margin-bottom: 10px; 
            border-radius: 10px;
            border: #79786f 1.5px solid;
            background-color: $color-main1;
            padding-left: 5px;
            @include transition-1
        }
        .input-contacto1 {
            margin-right: 4%;
        }
        .text-contacto {
            width: 97%;
            border-radius: 10px;
            border: #79786f 1.5px solid;
            background-color: $color-main1;
            padding: 5px;
            @include transition-05
        }
        .form-contacto__div {
            width: 97%;
            display: flex;
            justify-content: end;
        }
        .submit2 {
            margin-top: 10px;
            margin-left: 30px;
            height: 35px;
            width: 55px;
            border-radius: 10px;
            background-color: $color-main1;
            border: #79786f 1.5px solid;
            @include transition-5
        }
    }
    .aside-contacto {
        width: 30%;
        margin-top: 30px;
        padding: 10px;
        height: 310px;
        background-color: $color-main2;
        border: #79786f 1.5px solid;
        border-radius: 10px;
        text-align: center;
        p {
            font-size: calc(0.6875rem + 0.46728971962vw);
        }
        .aside-contacto__text {
            font-weight: 500;
            font-size: calc(0.75rem + 0.65420560747vw);
        }
        .aside-contacto__img {
            width: 30px;
        }
    }
}
@media (max-width: $media8) {
    .main-contacto {
        .form-contacto {
            width: 90%;
        }
        .aside-contacto {
            width: 50%;
        }
    }
}
@media (max-width: $media3) {
    .main-contacto .aside-contacto {
        width: 70%;
    }
}