.maincot__h2 {
    padding: 20px 15% 20px 15%;
    text-align: center;
    font-size: calc(0.75rem + 1.27226463104vw);
    font-weight: 500;
}
.forms-cotizacion {
    display: grid;
    grid-template-areas:
    "labels1 inputs1 labels2 inputs2"
    "labels3 textarea1 submit1 none";
    grid-template-columns: 18.5322461082vw 25.3150481838vw 18.5322461082vw 25.3150481838vw;
    grid-template-rows: auto auto;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: 3.20512820513vw;
    justify-content: center;
    .labels1 {
        grid-area: labels1;
        display: flex;
        flex-direction: column;
        font-size: calc(0.4375rem + 1.27226463104vw);
        font-weight: 300;
        width: fit-content;
        label {
            padding-bottom: 5px;
            white-space: nowrap;
        }
    }
    .labels2 {
        grid-area: labels2;
        display: flex;
        margin-left: 2.22386953299vw;
        flex-direction: column;
        font-size: calc(0.4375rem + 1.27226463104vw);
        font-weight: 300;
        width: fit-content;
        label {
            padding-bottom: 5px;
            white-space: nowrap;
        }
    }
    .inputs1 {
        grid-area: inputs1;
        display: flex;
        flex-direction: column;
        input {
            height: 31px;
            margin-bottom: 5px; 
            border-radius: 10px;
            border: #79786f 1.5px solid;
            background-color: $color-main1;
            @include transition-1
        }
    }
    .inputs2 {
        grid-area: inputs2;
        display: flex;
        flex-direction: column;
        margin-left: 3.27102803738vw;
        input {
            height: 31px;
            margin-bottom: 5px; 
            border-radius: 10px;
            border: #79786f 1.5px solid;
            background-color: $color-main1;
            @include transition-1
        }
    }
    .labels3 {
        grid-area: labels3;
        font-size: calc(0.4375rem + 1.27226463104vw);
        font-weight: 300;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    .textarea1 {
        grid-area: textarea1;
        textarea {
            width: 100%;
            border-radius: 10px;
            border: #79786f 1.5px solid;
            background-color: $color-main1;
            padding-top: 2px;
            @include transition-1
        }
    }
    .submit1 {
        grid-area: submit1;
        display: flex;
        align-content: end;
        flex-wrap: wrap;
        input {
            margin-left: 30px;
            height: 35px;
            width: 55px;
            margin-bottom: 10px;
            border-radius: 10px;
            background-color: $color-main1;
            border: #79786f 1.5px solid;
            @include transition-5
        }
    }
}

@media (max-width: $media1) {
    .labels1 {
        font-size: 1.90476190476vw;
    }
    .labels2 {
        font-size: 1.90476190476vw;
    }
    .labels3 {
        font-size: 1.90476190476vw;
    }
    .inputs1 {
        input {
            height: 28.7037037037%;
        }
    }
    .inputs2 {
        input {
            height: 28.7037037037%;
        }
    }
}
@media (max-width: $media5) {
    .forms-cotizacion {
        grid-template-areas:
        "labels1 inputs1"
        "labels2 inputs2"
        "labels3 textarea1"
        "none submit1";
        grid-template-columns: 35% 45%;
        grid-template-rows: auto auto auto auto;
        .labels1 {
            font-size: calc(0.625rem + 0.625vw);
            width: fit-content;
            margin-left: 2.223869533vw;
            label {
                height: 31px;
                padding-bottom: 0px;
                margin-bottom: 5px;
            }
        }
        .labels2 {
            font-size: calc(0.625rem + 0.625vw);
            width: fit-content;
            label {
                height: 31px;
                padding-bottom: 0px;
                margin-bottom: 5px;
            }
        }
        .labels3 {
            font-size: calc(0.625rem + 0.625vw);
            margin-left: 2.223869533vw;
            align-content: normal;
        }
        .inputs2 {
            margin-left: 0;
        }
        .submit1 {
            justify-content: end;
        }
    }
}