.main {
    .main__div {
        overflow: hidden;
    }
    .main__banner {
        display: flex;
        width: 96%;
        padding: 2%;
        margin-left: 2%;
        margin-right: 2%;
        flex-wrap: nowrap;
    }
    .main__section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        article {
            margin: 20px 15px 20px 15px;
            padding-bottom: 15px;
            background-color: #A9A89A;
            width: 330px;
            display: flex;
            flex-direction: column;
            text-align: center;

            h3 {
                font-size: 25px;
            }
        }
        .main__section--producto {
            width: 300px;
            height: 225px;
            margin: 15px;
        }
    }
}
@media only screen and (max-width: $media2) {
    .main {
        .main__section {
            article {
                width: 41.9847328244vw ;
                margin: 20px 0 20px 0 ;
                .main__section--producto {
                    width: 90.9090909091% ;
                    height: auto ;
                    margin: 15px 4.54545454545% ;
                }
                h3 {
                    font-size: calc(0.75rem + 1.27226463104vw) ;
                }
            }
        }
    }
}

@media only screen and (max-width: $media7) {
    .main {
        .main__section {
            article h3 {
                font-size: calc(0.625rem + 1.27226463104vw) ;
            }
        }
    }
}