* {
    font-family: $fuente-principal;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}
.main {
    font-family: $fuente-principal;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    background-color: $color-main1;
    border-left: $color-main2 2.37212750185vw solid;
    border-right: $color-main2 2.37212750185vw solid;
    .alerta {
        position: sticky;
        left: 0;
        bottom: 0;
        margin-bottom: 0 !important;
    }
}