// Colores //
$color-main1: #C6C5B9;
$color-main2: #A9A89A;
$color-header1: #65743A;
$color-header2: #3F4924;
$color-header3: #596634;
$color-footer1: #442220;
$color-footer2: #2E0014;

// Fuentes //
$fuente-principal: 'Shantell Sans', cursive;
$fuente2: 'Pacifico', cursive;;

//dimensiones//
$media1: 1050px;
$media2: 786px;
$media3: 590px;
$media4: 370px;
$media5: 640px;
$media6: 500px;
$media7: 480px;
$media8: 890px;